# A Step by Step Comprehensive Guide to Exploratory Data Analysis (EDA) Using Python and Pandas : 
# Part 1

##### install the neccessary packages

In [1]:
# !pip pandas

###### import the neccessary libraries

In [2]:
import pandas as pd
import numpy as np
pd.pandas.set_option('display.max_columns', None)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

### 1. Loading the data

In [3]:
data = pd.read_csv('/Users/thomt/Documents/BlogMediumArticle/Medium/article_data/car_price_prediction.csv')
data.columns = data.columns.str.upper() # convert the columns to uppercase 

data

,ID,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [4]:
data.sample(5)

,ID,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
14871,45763736,81539,1935,LEXUS,GX 460,2016,Jeep,Yes,Petrol,4.6,155976 km,8.0,Automatic,4x4,04-May,Left wheel,White,0
13151,45788499,10036,642,FORD,Focus,2012,Sedan,No,Petrol,2,87000 km,4.0,Automatic,Front,04-May,Left wheel,Grey,0
18156,45802788,47512,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,144333 km,4.0,Automatic,Front,04-May,Left wheel,White,4
10160,45787376,3800,-,OPEL,Vectra ბ,2001,Hatchback,Yes,Petrol,2.6,219200 km,6.0,Automatic,Front,04-May,Right-hand drive,Black,6
5355,45652392,26657,919,MERCEDES-BENZ,ML 350,2012,Jeep,Yes,Diesel,3,271701 km,6.0,Automatic,4x4,04-May,Left wheel,White,12

### 2. Understanding the dataset Structure

In [5]:
# display the shape of the DataFrame
# print(f"The dataset contains {data.shape[0]} rows and {data.shape[1]} columns.")

# # display column names, to get an idea of what data is available.
# print("Column names in the dataset:")
# print(data.columns)

 # display index and columns
# print("Index of the DataFrame:")
# print (data.index)

# display values and shape
# print("Values of the DataFrame:")
# print(data.values)

# data types and length
print("Data types of the DataFrame:")
print(data.dtypes)

# print("Length of the DataFrame:")
# print(len(data))

Data types of the DataFrame:
ID                    int64
PRICE                 int64
LEVY                 object
MANUFACTURER         object
MODEL                object
PROD. YEAR            int64
CATEGORY             object
LEATHER INTERIOR     object
FUEL TYPE            object
ENGINE VOLUME        object
MILEAGE              object
CYLINDERS           float64
GEAR BOX TYPE        object
DRIVE WHEELS         object
DOORS                object
WHEEL                object
COLOR                object
AIRBAGS               int64
dtype: object

### 3. Understanding the Statistical Descriptions of the Dataset

In [6]:
# Display basic information about the DataFrame
print("Basic information about the dataset:")
data.info()

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   PRICE             19237 non-null  int64
 2   LEVY              19237 non-null  object
 3   MANUFACTURER      19237 non-null  object
 4   MODEL             19237 non-null  object
 5   PROD. YEAR        19237 non-null  int64
 6   CATEGORY          19237 non-null  object
 7   LEATHER INTERIOR  19237 non-null  object
 8   FUEL TYPE         19237 non-null  object
 9   ENGINE VOLUME     19237 non-null  object
 10  MILEAGE           19237 non-null  object
 11  CYLINDERS         19237 non-null  float64
 12  GEAR BOX TYPE     19237 non-null  object
 13  DRIVE WHEELS      19237 non-null  object
 14  DOORS             19237 non-null  object
 15  WHEEL             19237 non-null  object
 16  COLOR             19237 non-null  object
 17  AIRBAGS           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [7]:
#Summary statistics for numeric columns
print("Summary statistics for numeric columns:")
data.describe()

# print("Summary statistics for all columns:")
# data.describe(include='all')

Summary statistics for numeric columns:

                 ID         PRICE    PROD. YEAR     CYLINDERS       AIRBAGS
count  1.923700e+04  1.923700e+04  19237.000000  19237.000000  19237.000000
mean   4.557654e+07  1.855593e+04   2010.912824      4.582991      6.582627
std    9.365914e+05  1.905813e+05      5.668673      1.199933      4.320168
min    2.074688e+07  1.000000e+00   1939.000000      1.000000      0.000000
25%    4.569837e+07  5.331000e+03   2009.000000      4.000000      4.000000
50%    4.577231e+07  1.317200e+04   2012.000000      4.000000      6.000000
75%    4.580204e+07  2.207500e+04   2015.000000      4.000000     12.000000
max    4.581665e+07  2.630750e+07   2020.000000     16.000000     16.000000

In [8]:
#Summary statistics for numeric columns
print(" The number of unique values in each columns:")

data.nunique()

 The number of unique values in each columns:

ID                  18924
PRICE                2315
LEVY                  559
MANUFACTURER           65
MODEL                1590
PROD. YEAR             54
CATEGORY               11
LEATHER INTERIOR        2
FUEL TYPE               7
ENGINE VOLUME         107
MILEAGE              7687
CYLINDERS              13
GEAR BOX TYPE           4
DRIVE WHEELS            3
DOORS                   3
WHEEL                   2
COLOR                  16
AIRBAGS                17
dtype: int64

### 4. Handling Missing Data

In [9]:
# Check for missing values
print("Missing values in each column:")
data.isnull().sum()

Missing values in each column:

ID                  0
PRICE               0
LEVY                0
MANUFACTURER        0
MODEL               0
PROD. YEAR          0
CATEGORY            0
LEATHER INTERIOR    0
FUEL TYPE           0
ENGINE VOLUME       0
MILEAGE             0
CYLINDERS           0
GEAR BOX TYPE       0
DRIVE WHEELS        0
DOORS               0
WHEEL               0
COLOR               0
AIRBAGS             0
dtype: int64

In [10]:
# convert the 'LEVY' column to a numeric type and treat '-' as missing, 
data['LEVY'] = data['LEVY'].replace('-', None).astype(float)
data

,ID,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,45654403,13328,1399.0,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018.0,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,NaN,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862.0,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446.0,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,NaN,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831.0,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836.0,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288.0,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753.0,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [11]:
# Drop rows with missing values
print("Data after dropping missing values:")
data_drop = data.dropna()
data_drop

Data after dropping missing values:

,ID,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,45654403,13328,1399.0,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018.0,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
3,45769185,3607,862.0,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446.0,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493,891.0,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19231,45772306,5802,1055.0,MERCEDES-BENZ,E 350,2013,Sedan,Yes,Diesel,3.5,107800 km,6.0,Automatic,Rear,04-May,Left wheel,Grey,12
19233,45778856,15681,831.0,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836.0,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288.0,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753.0,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [12]:
# # Alternatively, fill missing values with a specified value for categorical feature or numerical features
# data_filled = data.fillna('NA')

# # Forward fill fills the missing values with the most recent non-missing value found before them in the column.( Mostly used in time series data ) Let's skip it for now since our data is not time series
# data['LEVY'].fillna(method='ffill', inplace=True)

# # Interpolate missing values (useful for time series data )
# data['LEVY'] = df['LEVY'].interpolate()
# print("Data after filling missing values with mean and interpolation:")
# data

# Imputing missing values with the mean of the column
data['LEVY'].fillna(data['LEVY'].mean(), inplace=True)
print("Data after filling missing values with mean: ")
data

Data after filling missing values with mean:

,ID,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,45654403,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,906.838128,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831.000000,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836.000000,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288.000000,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753.000000,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

### 5. Dropping Irrelevant Features (Columns)

In [13]:
# Drop the 'ID' column
data = data.drop(columns=['ID'])
# Display the first few rows after dropping the column
print("After dropping 'ID' column:")
data.head()

After dropping 'ID' column:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

### 6. Checking the Numerical and Categorical Features

In [14]:
#Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns
print(f"The dataset contains {len(numerical_cols)} numerical features and {len(categorical_cols)} categorical features.")

# print("Numerical features:")
# data[numerical_cols]
print("Categorical features:")
data [categorical_cols]

The dataset contains 5 numerical features and 12 categorical features.
Categorical features:

,MANUFACTURER,MODEL,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR
0,LEXUS,RX 450,Jeep,Yes,Hybrid,3.5,186005 km,Automatic,4x4,04-May,Left wheel,Silver
1,CHEVROLET,Equinox,Jeep,No,Petrol,3,192000 km,Tiptronic,4x4,04-May,Left wheel,Black
2,HONDA,FIT,Hatchback,No,Petrol,1.3,200000 km,Variator,Front,04-May,Right-hand drive,Black
3,FORD,Escape,Jeep,Yes,Hybrid,2.5,168966 km,Automatic,4x4,04-May,Left wheel,White
4,HONDA,FIT,Hatchback,Yes,Petrol,1.3,91901 km,Automatic,Front,04-May,Left wheel,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...
19232,MERCEDES-BENZ,CLK 200,Coupe,Yes,CNG,2.0 Turbo,300000 km,Manual,Rear,02-Mar,Left wheel,Silver
19233,HYUNDAI,Sonata,Sedan,Yes,Petrol,2.4,161600 km,Tiptronic,Front,04-May,Left wheel,Red
19234,HYUNDAI,Tucson,Jeep,Yes,Diesel,2,116365 km,Automatic,Front,04-May,Left wheel,Grey
19235,CHEVROLET,Captiva,Jeep,Yes,Diesel,2,51258 km,Automatic,Front,04-May,Left wheel,Black
19236,HYUNDAI,Sonata,Sedan,Yes,Hybrid,2.4,186923 km,Automatic,Front,04-May,Left wheel,White

### 7. Value Count for Categorical Data

In [15]:
# Use value_counts() on the 'GEAR BOX TYPE' column
category_counts = data['GEAR BOX TYPE'].value_counts()
print("GEAR BOX TYPE counts:")
print(category_counts)

# Use value_counts() on the 'FUEL TYPE' column
fuel_type_counts = data['FUEL TYPE'].value_counts()
print("Fuel Type counts:")
print(fuel_type_counts)

GEAR BOX TYPE counts:
GEAR BOX TYPE
Automatic    13514
Tiptronic     3102
Manual        1875
Variator       746
Name: count, dtype: int64
Fuel Type counts:
FUEL TYPE
Petrol            10150
Diesel             4036
Hybrid             3578
LPG                 892
CNG                 494
Plug-in Hybrid       86
Hydrogen              1
Name: count, dtype: int64

### 8. Indexing Columns Using iloc and loc

In [16]:
# # get the first 5 rows and the first 3 columns
# subset_iloc = data.iloc[:5, :3]
# print("Using iloc to select the first 5 rows and 3 columns:")
# subset_iloc

# get the first 5 rows and columns 'MANUFACTURER', and 'MODEL'
subset_loc = data.loc[:4, ['MANUFACTURER', 'MODEL']]
print("Using loc to select the first 5 rows and specific columns:")
subset_loc

Using loc to select the first 5 rows and specific columns:

  MANUFACTURER    MODEL
0        LEXUS   RX 450
1    CHEVROLET  Equinox
2        HONDA      FIT
3         FORD   Escape
4        HONDA      FIT

### 9. Selecting Specific Columns

In [17]:
# # Single Column Selection
# price_column = data['PRICE']
# print("Single Column - PRICE:")
# price_column.head()

# Multiple Column Selection
selected_columns = data[['FUEL TYPE','ENGINE VOLUME','MILEAGE']]
print("Multiple Columns - FUEL TYPE, ENGINE VOLUME, MILEAGE:")
selected_columns.head()

Multiple Columns - FUEL TYPE, ENGINE VOLUME, MILEAGE:

  FUEL TYPE ENGINE VOLUME    MILEAGE
0    Hybrid           3.5  186005 km
1    Petrol             3  192000 km
2    Petrol           1.3  200000 km
3    Hybrid           2.5  168966 km
4    Petrol           1.3   91901 km

### 10. Filtering Data

In [18]:
# filter the DataFrame for 'TOYOTA' cars with a price greater than 10,000
filtered_data = data[(data['MANUFACTURER'] == 'TOYOTA') & (data['PRICE'] > 10000)]

# isplay the filtered DataFrame
print("Filtered DataFrame (TOYOTA cars with PRICE > 10,000):")
filtered_data.head(7)

Filtered DataFrame (TOYOTA cars with PRICE > 10,000):

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
21,20698,586.000000,TOYOTA,Prius,2012,Sedan,Yes,Plug-in Hybrid,1.8,187000 km,4.0,Automatic,Front,04-May,Left wheel,White,12
22,17562,1249.000000,TOYOTA,Camry,2017,Sedan,Yes,Petrol,2.5,39709 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
29,12074,1537.000000,TOYOTA,Highlander,2009,Jeep,Yes,Hybrid,3.3,420550 km,6.0,Automatic,4x4,04-May,Left wheel,Blue,12
36,51746,1077.000000,TOYOTA,CHR Limited,2019,Jeep,No,Petrol,2,10200 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,12
40,24462,751.000000,TOYOTA,Camry,2013,Sedan,Yes,Petrol,2.4,203200 km,4.0,Automatic,Front,04-May,Left wheel,Blue,4
46,15681,503.000000,TOYOTA,Prius C,2012,Hatchback,No,Hybrid,1.5,128000 km,4.0,Variator,Front,04-May,Left wheel,Sky blue,8
48,12544,906.838128,TOYOTA,Aqua,2012,Hatchback,No,Hybrid,1.5,141500 km,4.0,Automatic,Front,04-May,Right-hand drive,Black,8

### 11. Sorting Data

In [19]:
# Sort the DataFrame by 'PRICE' in descending order
sorted_data = data.sort_values(by='PRICE', ascending=False)

# Display the sorted DataFrame
print("The DataFrame sorted by 'PRICE' in descending order:")
sorted_data.head(7)

The DataFrame sorted by 'PRICE' in descending order:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
16983,26307500,906.838128,OPEL,Combo,1999,Goods wagon,No,Diesel,1.7,99999 km,4.0,Manual,Front,02-Mar,Left wheel,Blue,0
8541,872946,2067.000000,LAMBORGHINI,Urus,2019,Universal,Yes,Petrol,4,2531 km,8.0,Tiptronic,4x4,04-May,Left wheel,Black,0
1225,627220,906.838128,MERCEDES-BENZ,G 65 AMG 63AMG,2020,Jeep,Yes,Petrol,6.3 Turbo,0 km,8.0,Tiptronic,4x4,04-May,Left wheel,Black,12
5008,308906,1694.000000,PORSCHE,911,2016,Coupe,Yes,Petrol,4,8690 km,6.0,Automatic,Rear,02-Mar,Left wheel,Black,12
14839,297930,906.838128,LAND ROVER,Range Rover Vogue,2019,Jeep,Yes,Diesel,3.0 Turbo,4500 km,8.0,Tiptronic,4x4,04-May,Left wheel,Black,12
9367,297930,906.838128,MERCEDES-BENZ,AMG GT S,2015,Coupe,Yes,Petrol,4.0 Turbo,20000 km,8.0,Tiptronic,Rear,02-Mar,Left wheel,White,16
7749,288521,2269.000000,BMW,M5 Машина в максимально,2018,Sedan,Yes,Petrol,4.4,13500 km,8.0,Tiptronic,4x4,04-May,Left wheel,Black,0

### 12. Removing Duplicates

In [20]:
# Remove duplicate rows
print("The data shape before dropping duplicates :")
print ( data.shape)


data_no_duplicates = data.drop_duplicates()

# Print the DataFrame after removing duplicates
print("The data shape after dropping duplicates :")
print ( data_no_duplicates.shape)
data_no_duplicates

The data shape before dropping duplicates :
(19237, 17)
The data shape after dropping duplicates :
(15725, 17)

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,470,645.000000,TOYOTA,Prius,2011,Hatchback,Yes,Hybrid,1.8,307325 km,4.0,Automatic,Front,04-May,Left wheel,Silver,12
19232,8467,906.838128,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,15681,831.000000,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,26108,836.000000,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19236,470,753.000000,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

### 13. Resetting Index

In [21]:
# reset the index with drop=False
# print("DataFrame resetting index with drop=False:")

# data_reset = data_no_duplicates.reset_index(drop=False)

print("DataFrame resetting index with drop=True:")

# reset the index with drop=True
data_reset = data_no_duplicates.reset_index(drop=True)

# Display the DataFrame after resetting the index
print("DataFrame after resetting index:")
data_reset

DataFrame resetting index with drop=True:
DataFrame after resetting index:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15720,470,645.000000,TOYOTA,Prius,2011,Hatchback,Yes,Hybrid,1.8,307325 km,4.0,Automatic,Front,04-May,Left wheel,Silver,12
15721,8467,906.838128,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
15722,15681,831.000000,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
15723,26108,836.000000,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
15724,470,753.000000,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

### 14. Grouping, Aggregating, and Renaming Columns

In [22]:
# Group by 'MANUFACTURER' and calculate aggregate statistics
grouped_data = data_reset.groupby('MANUFACTURER').agg({
    'PRICE': 'mean',
    'AIRBAGS': 'max',
    'MODEL': 'count'
})


grouped_data
# # Rename the columns for clarity
grouped_data.rename(columns={'PRICE': 'AVERAGE_PRICE', 'AIRBAGS': 'MOST_COMMON_AIRBAGS', 'MODEL': 'CAR_COUNT'}, inplace=True)

# # Print the grouped and aggregated DataFrame
print("Grouped DataFrame with mean PRICE, max AIRBAGS, and count of cars for each MANUFACTURER:")
grouped_data

Grouped DataFrame with mean PRICE, max AIRBAGS, and count of cars for each MANUFACTURER:

              AVERAGE_PRICE  MOST_COMMON_AIRBAGS  CAR_COUNT
MANUFACTURER
ACURA           5910.933333                   12         15
ALFA ROMEO      9890.250000                   12          4
ASTON MARTIN   54000.000000                    8          1
AUDI           17226.804124                   12        194
BENTLEY       197574.500000                   12          2
...                     ...                  ...        ...
VAZ             4659.893617                   12         47
VOLKSWAGEN     11735.294964                   16        556
VOLVO          10278.894737                   12         19
ZAZ             3822.500000                    0          2
სხვა           17248.500000                    2          2

[65 rows x 3 columns]

### 15. Adding New Columns Using numpy.where

In [23]:


# Define a threshold for 'PRICE' to categorize cars
price_threshold = 15000

# Add a new column 'PRICE_CATEGORY' using np.where
data_reset['PRICE_CATEGORY'] = np.where(data_reset['PRICE'] > price_threshold, 'Expensive', 'Affordable')

# Print the DataFrame with the new column
print("DataFrame with the new 'PRICE_CATEGORY' column using np.where:")
data_reset.head()

DataFrame with the new 'PRICE_CATEGORY' column using np.where:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS,PRICE_CATEGORY
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,Affordable
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,Expensive
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2,Affordable
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0,Affordable
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4,Affordable

### 16. Using ‘replace ‘ to Clean and Transforming Column Data

In [24]:

# Step 1: Remove 'km' from 'MILEAGE' values using replace
data_reset['MILEAGE'] = data_reset['MILEAGE'].replace(' km', '', regex=True)

# # Step 2: Convert the 'MILEAGE' column to integer type
data_reset['MILEAGE'] = data_reset['MILEAGE'].astype(int)

# # Step 3: Rename the column to 'MILEAGE_KM'
data_reset= data_reset.rename(columns={'MILEAGE': 'MILEAGE_KM'})

# Print the DataFrame after cleaning and transforming
print("DataFrame after replacing and transforming 'MILEAGE' column:")
data_reset

# applying mulitple replace function simultaneously
# data_reset['DOORS'] = data_reset['DOORS'].str.replace('04-May', '4-5').str.replace('02-Mar', '2-4')
data_reset

DataFrame after replacing and transforming 'MILEAGE' column:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE_KM,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS,PRICE_CATEGORY
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,Affordable
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,Expensive
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,Affordable
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,Affordable
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15720,470,645.000000,TOYOTA,Prius,2011,Hatchback,Yes,Hybrid,1.8,307325,4.0,Automatic,Front,04-May,Left wheel,Silver,12,Affordable
15721,8467,906.838128,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5,Affordable
15722,15681,831.000000,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600,4.0,Tiptronic,Front,04-May,Left wheel,Red,8,Expensive
15723,26108,836.000000,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365,4.0,Automatic,Front,04-May,Left wheel,Grey,4,Expensive
15724,470,753.000000,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4.0,Automatic,Front,04-May,Left wheel,White,12,Affordable

### 17. Apply Function with lambda to Transform Data

In [25]:
# Step 1: define the mapping dictionary
doors_mapping = {
    '04-May': '4-5',
    '02-Mar': '2-4'
}

# Step 2: Apply the transformation using lambda
data_reset['DOORS'] = data_reset['DOORS'].apply(lambda x: doors_mapping.get(x, x))

# Print the DataFrame after transforming the 'DOORS' column
print("DataFrame after transforming 'DOORS' column using apply with lambda:")
data_reset

DataFrame after transforming 'DOORS' column using apply with lambda:

,PRICE,LEVY,MANUFACTURER,MODEL,PROD. YEAR,CATEGORY,LEATHER INTERIOR,FUEL TYPE,ENGINE VOLUME,MILEAGE_KM,CYLINDERS,GEAR BOX TYPE,DRIVE WHEELS,DOORS,WHEEL,COLOR,AIRBAGS,PRICE_CATEGORY
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,4-5,Left wheel,Silver,12,Affordable
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000,6.0,Tiptronic,4x4,4-5,Left wheel,Black,8,Expensive
2,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,4-5,Right-hand drive,Black,2,Affordable
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,4-5,Left wheel,White,0,Affordable
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,4-5,Left wheel,Silver,4,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15720,470,645.000000,TOYOTA,Prius,2011,Hatchback,Yes,Hybrid,1.8,307325,4.0,Automatic,Front,4-5,Left wheel,Silver,12,Affordable
15721,8467,906.838128,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000,4.0,Manual,Rear,2-4,Left wheel,Silver,5,Affordable
15722,15681,831.000000,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600,4.0,Tiptronic,Front,4-5,Left wheel,Red,8,Expensive
15723,26108,836.000000,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365,4.0,Automatic,Front,4-5,Left wheel,Grey,4,Expensive
15724,470,753.000000,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4.0,Automatic,Front,4-5,Left wheel,White,12,Affordable

### 18. Understanding Pivot Tables in Pandas

In [26]:
# Create a pivot table with 'MANUFACTURER' and 'CATEGORY' as indices and 'PRICE' as values
# data_reset['PRICE'] = data_reset['PRICE'].round(0).astype(int)

pivot_table = pd.pivot_table(data_reset, values='PRICE', index='MANUFACTURER', columns='CATEGORY', aggfunc='mean')

# Print the pivot table
print("Pivot table showing the average 'PRICE' for each 'MANUFACTURER' and 'CATEGORY':")
pivot_table

Pivot table showing the average 'PRICE' for each 'MANUFACTURER' and 'CATEGORY':

CATEGORY,Cabriolet,Coupe,Goods wagon,Hatchback,Jeep,Limousine,Microbus,Minivan,Pickup,Sedan,Universal
MANUFACTURER,,,,,,,,,,,
ACURA,NaN,NaN,NaN,NaN,10892.666667,NaN,NaN,NaN,NaN,2589.777778,NaN
ALFA ROMEO,NaN,3700.000000,NaN,18817.000000,NaN,NaN,NaN,NaN,NaN,8522.000000,NaN
ASTON MARTIN,NaN,54000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUDI,NaN,16883.000000,NaN,7981.944444,21134.903846,NaN,NaN,NaN,NaN,15296.551402,51996.6
BENTLEY,NaN,219527.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175622.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
VAZ,NaN,NaN,NaN,4233.500000,6764.866667,NaN,NaN,NaN,NaN,3635.833333,NaN
VOLKSWAGEN,NaN,6605.666667,8933.133333,7380.443038,16629.551724,NaN,25023.333333,10216.777778,5331.0,12335.766010,6027.6
VOLVO,NaN,9800.500000,16308.000000,NaN,14949.833333,NaN,NaN,NaN,NaN,6969.100000,NaN
ZAZ,NaN,2000.000000,NaN,NaN,5645.000000,NaN,NaN,NaN,NaN,NaN,NaN
სხვა,NaN,NaN,NaN,NaN,9408.000000,NaN,25089.000000,NaN,NaN,NaN,NaN

### 19. Target Data Transformation Techniques

In [27]:
# Calculate cumulative sum for 'PRICE'
data_reset['CUMULATIVE_SUM_PRICE'] = data_reset['PRICE'].cumsum()

# Calculate percent change for 'PRICE'
data_reset['PERCENT_CHANGE_PRICE'] = data_reset['PRICE'].pct_change()

# Calculate expanding sum for 'PRICE'
data_reset['EXPANDING_SUM_PRICE'] = data_reset['PRICE'].expanding().sum()

# Calculate rank for 'PRICE'
data_reset['PRICE_RANK'] = data_reset['PRICE'].rank()

# Calculate difference for 'PRICE'
data_reset['PRICE_DIFF'] = data_reset['PRICE'].diff()

# Calculate log transformation for 'PRICE'
data_reset['LOG_PRICE'] = np.log(data_reset['PRICE'])

# Print the DataFrame after applying transformations
print("DataFrame after applying various transformations:")
data_reset[['PRICE','CUMULATIVE_SUM_PRICE','PERCENT_CHANGE_PRICE','EXPANDING_SUM_PRICE','PRICE_RANK','PRICE_DIFF','LOG_PRICE']]

DataFrame after applying various transformations:

,PRICE,CUMULATIVE_SUM_PRICE,PERCENT_CHANGE_PRICE,EXPANDING_SUM_PRICE,PRICE_RANK,PRICE_DIFF,LOG_PRICE
0,13328,13328,NaN,13328.0,7289.5,NaN,9.497622
1,16621,29949,0.247074,29949.0,9066.5,3293.0,9.718422
2,8467,38416,-0.490584,38416.0,4554.5,-8154.0,9.043932
3,3607,42023,-0.573993,42023.0,2305.0,-4860.0,8.190632
4,11726,53749,2.250901,53749.0,6418.5,8119.0,9.369564
...,...,...,...,...,...,...,...
15720,470,318843458,8.400000,318843458.0,849.5,420.0,6.152733
15721,8467,318851925,17.014894,318851925.0,4554.5,7997.0,9.043932
15722,15681,318867606,0.852014,318867606.0,8578.0,7214.0,9.660205
15723,26108,318893714,0.664945,318893714.0,12525.5,10427.0,10.169997
15724,470,318894184,-0.981998,318894184.0,849.5,-25638.0,6.152733

### 20. Saving Data in Pandas

In [28]:
# Save as CSV
# data_reset.to_csv('car_data.csv', index=False)

# # Save as Excel
# data_reset.to_excel('car_data.xlsx', index=False)

# # Save as JSON (JavaScript Object Notation):  Often used in web applications.
# data_reset.to_json('car_data.json')

# # Save as Parquet : optimized for use with big data processing frameworks like Apache Hadoop and Spark. 
# data_reset.to_parquet('car_data.parquet')

# # Save as HDF5 ((Hierarchical Data Format) 
# data_reset.to_hdf('car_data.h5', key='df', mode='w')

# # Save as Feather : designed for fast reading and writing.
# data_reset.to_feather('car_data.feather')

# # Save as Pickle : format used to serialize (pickle) and deserialize (unpickle) Python objects. 
# data_reset.to_pickle('car_data.pkl')